<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="canonical" href="{{ config.url }}{{ page.url }}" />
    <link rel="stylesheet" href="{{ config.url }}/css/styles.css" />
    <title>
      {% if title and title != 'Home' %}
      {{ title }} - {% endif %} {{ config.siteTitle }}
    </title>
    <!-- Icons -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ config.url }}/images/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ config.url }}/images/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="{{ config.url }}/images/apple-touch-icon.png"
    />
    <!-- Meta -->
    <meta
      name="description"
      content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}"
    />
    <meta
      name="keywords"
      content="{% if keywords %}{{ keywords }}{% else %}{{ config.keywords }}{% endif %}"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    {% include "navigation.njk" %}
    <div>
      {{ content | safe }}
    </div>
  </body>
</html>
